@{
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>About Disaplan.</h2>
</hgroup>

<article>
    <p>
        Contact the developer for more information, and to contribute to the development of this application
    </p>
</article>

<aside>
    <h3>Continue</h3>
    <p>
        Further links:
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>