@{
    Page.Title = "Home";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Disaplan.</h1>
            <h2><strong>Discipline</strong> and <strong>Planning</strong> realizes your dreams.</h2>
        </hgroup>
        <p>
            Create training plans and focus your training here.
        </p>
    </div>
</section>
}

<h3>Your steps to success:</h3>

<ol class="round">
    <li class="one">
        <h5>Plan</h5>
        Quickly and simply build and develop your personalized training plan.
    </li>

    <li class="two">
        <h5>Train</h5>
        Track your progress, set yourself goals, then reap the rewards.
    </li>

    <li class="three">
        <h5>Share</h5>
        Together we're stronger, faster and more disciplined.
    </li>
</ol>