@{
    Page.Title = "Home";
}

  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="Images/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2><em>Discipline</em> enables growth.</h2>
                  <p><em>dis·ci·pline \ ˈdi-sə-plən</em></p>
                  <p>The ability to control yourself, even in difficult situations</p>
                <a href="~/Account/Register" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="Images/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2><em>Planning</em> optimizes your gains.</h2>
                  <p><em>plan·ning \ ˈpla-niŋ </em></p>
                  <p> The act or process of making or carrying out plans; specifically: the establishment of goals</p>
                <a href="~/Account/Register" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="Images/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                  <h2><em>Discipline</em> and <em>Planning</em> realizes your <em>dreams</em>.</h2>
                  <p><em>dream \ ˈdrēm</em></p>
                  <p>Something notable for its beauty, excellence, or enjoyable quality</p>
                <a href="~/Account/Register" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section>

    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a href="~/Account/Register">Plan</a></h4>
            <p class="description">Quickly and simply build and develop your personalized training plan.</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="~/Account/Register">Train</a></h4>
            <p class="description">Track your progress, set yourself goals, then reap the rewards.</p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="~/Account/Register">Share</a></h4>
            <p class="description">Together we're stronger, faster and more disciplined.</p>
          </div>

        </div>
      </div>
    </section>
    
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>We aim for a better solution to making gains from training hard.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="Images/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="~/Account/Register">Our Mission</a></h2>
              <p>
                To share free understandable training plans, forged in the fire of the real world, powerful enough to deliver epic gains.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="Images/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="~/Account/Register">Our Plan</a></h2>
              <p>
                Share user generated training plans, community defined exercises, track training process, and provide rich training reports.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="Images/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="~/Account/Register">Our Vision</a></h2>
              <p>
                A huge community of casual and dedicated users, all getting the content they need, at the level they need, to maximise their training.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Training plan discovery</a></h4>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Excercise wiki</a></h4>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">Training tracking</a></h4>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Plan editing</a></h4>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">Tracking reports</a></h4>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">Training guides</a></h4>
          </div>

        </div>

      </div>
    </section>
    
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Join now for free!</h3>
        <a class="cta-btn" href="~/Account/Register">Join</a>
      </div>
    </section>
    
    <section id="skills">
      <div class="container">

        <header class="section-header">
          <h3>Our Results</h3>
        </header>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Average user rating <i class="val">100%</i></span>
            </div>
          </div>

        </div>

      </div>
    </section>
    
    
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Stats</h3>
        </header>

        <div class="row counters">

  		  <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1</span>
            <p>Users</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">0</span>
            <p>Plans</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">0</span>
            <p>Exercises</p>
          </div>

      </div>
    </section>
    
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="Images/testimonial-1.jpg" class="testimonial-img" alt="">
            <h3>Kevin Reece</h3>
            <h4>Developer</h4>
            <p>
              <img src="imImagesg/quote-sign-left.png" class="quote-sign-left" alt="">
                It's great! And I should know!
              <img src="Images/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="Images/testimonial-1.jpg" class="testimonial-img" alt="">
            <h3>Kevin Reece</h3>
            <h4>Developer</h4>
            <p>
              <img src="Images/quote-sign-left.png" class="quote-sign-left" alt="">
              Seriously it's great!
              <img src="Images/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section>
  
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
  <script src="Libraries/jquery/jquery.min.js"></script>
  <script src="Libraries/jquery/jquery-migrate.min.js"></script>
  <script src="Libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="Libraries/easing/easing.min.js"></script>
  <script src="Libraries/superfish/hoverIntent.js"></script>
  <script src="Libraries/superfish/superfish.min.js"></script>
  <script src="Libraries/wow/wow.min.js"></script>
  <script src="Libraries/waypoints/waypoints.min.js"></script>
  <script src="Libraries/counterup/counterup.min.js"></script>
  <script src="Libraries/owlcarousel/owl.carousel.min.js"></script>
  <script src="Libraries/isotope/isotope.pkgd.min.js"></script>
  <script src="Libraries/lightbox/js/lightbox.min.js"></script>
  <script src="Libraries/touchSwipe/jquery.touchSwipe.min.js"></script>
  <script src="Libraries/touchSwipe/jquery.touchSwipe.min.js"></script>

  <script src="Scripts/main.js"></script>