@model Disaplan.WebApp.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<section>
    <div class="container">
        <h2>Dashboard</h2>

        <h3>Welcome <strong>@Model.UserName</strong>
        </h3>
    </div>
</section>